<h1>Refining Calculator</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Calculate / Рассчитать</button>
</form>

{% if result %}
    <hr>

    <h2>Result / Результат</h2>

    <p>
        You want / Ты хочешь:
        {{ result.desired_amount }} -
        {{ result.output_resource }}
    </p>

    <p>
        Return rate / Процент возврата:
        {{ result.return_rate_percent }}%
    </p>

    <h3>Required ingredients / Требуемые ингредиенты:</h3>

    <table border="1" cellpadding="10">
        <tr>
            <th>Resource / Ресурс</th>
            <th>Amount / Количество</th>
        </tr>

        {% for ingredient in result.raw_ingredients %}
            <tr>
                <td>{{ ingredient.resource }}</td>
                <td>{{ ingredient.amount|floatformat:-2 }}</td>
            </tr>
        {% endfor %}

    </table>
{% endif %}